.playMode, .selectPlaySide, .playGame {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.selectPlaySide {
  justify-content: space-around;
}

.logoImage {
  width: 600px;
  height: auto;
}

.gameHeadind2 {
  font-size: 16px;
  color: lightslategray;
  margin: 40px 0px;
  font-weight: bold;
}

.basicButton {
  cursor: pointer;
  margin: 10px 0px;
  min-width: 120px;
  max-width: 120px;
  width: 120px;
  border-radius: 15px;
  padding: 8px;
  border: 0px;
  color: gray;
  box-shadow: grey 0px 3px 5px;
  background: white;
}

.withAIButton {
  color: white;
  background: #3cc6f3;
}

.playSides {
  display: flex;
  flex-direction: row;
}

.playSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-width: 130px;
  max-width: 130px;
  width: 130px;
}

.playSidesImg {
  width: 300px;
}

.checkedImg {
  opacity: 0.3;
}

.radioInput {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 20px 0px;
}

.gameBoard {
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 3px;
}

.board {

}

.boardRow {
  display: flex;
  height: 150px;
  border-bottom: 1px solid lightgray;
}

.lastBoardRow {
  border-bottom: 0px solid lightgray;
}

.square {
  width: 150px;
  height: 150px;
  border-bottom: 1px solid transparent;
}

.leftRightBorder {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.gameStatus {
  display: flex;
}

.playerName, .winStatus {
  font-size: 18px;
  text-align: center;
  padding: 1px;
  min-width: 150px;
  font-weight: bold;
}

.winStatus {
  background: #3cc6f3;
  border-radius: 10px;
  background: white;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px;
}

.winnerStatus {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textField {
  min-width: 120px;
  max-width: 120px;
  width: 120px;
}

@media only screen and (max-width: 600px) {
  .logoImage {
    width: 200px;
    height: auto;
  }
  .boardRow {
    height: 90px;
  }
  .square {
    height: 90px;
    width: 90px;
  }
  .playerName, .winStatus {
    min-width: 100px;
  }
  .playSidesImg {
    width: 100px;
  }
}
